<div class="relative w-screen h-screen bg-gradient-to-br from-gray-700 to-gray-600 overflow-hidden">
  <img class="absolute inset-0 w-full h-full object-center opacity-50 mix-blend-overlay" src="assets/fondos/login.webp" alt="Fondo de login">
  <div class="absolute inset-0 bg-black/20 backdrop-blur-[2px]"></div>
  <div class="relative z-10 flex flex-col md:justify-center items-center w-full h-full">
    <!-- <img class="z-10 gsap-logo mt-3 md:mt-0 w-[180px] drop-shadow-2xl hover:scale-105 transition-transform duration-300" src="assets/img/Logo.png"> -->
    <div class="w-full gsap-formulario mx-auto flex items-center justify-center">
      <form autocomplete="off" [formGroup]="loginForm" (submit)="login()"
        class="py-12 px-8 rounded-2xl bg-white/90 backdrop-blur-md flex flex-col justify-center items-center md:w-[450px] w-11/12 mt-8 shadow-2xl border border-gray-100">
        <h2 class="font-display text-slate-800 text-3xl lg:text-4xl text-center mb-4">Ingreso al sistema</h2>
        <p class="text-primaryColor text-xl"> Turnero Municipal </p>
        <p class="text-gray-500 text-sm">Versión 1.1.0</p>
        <div class="relative mt-10 w-full max-w-sm group">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-user absolute left-2 top-2 text-gray-400 group-focus-within:text-secondaryColor transition-colors">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
          <input type="text" formControlName="username"
            class="w-full transition-all duration-300 pl-10 py-2 border-b-2 border-gray-300 font-display outline-none focus:outline-none focus:border-primaryColor text-lg bg-transparent"
            placeholder="Usuario" />
        </div>
        <div class="relative mt-8 w-full max-w-sm group">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock absolute left-2 top-2 text-gray-400 group-focus-within:text-secondaryColor transition-colors">
            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
          </svg>
          <input type="password" autocomplete="false" formControlName="password"
            class="w-full transition-all duration-300 pl-10 py-2 border-b-2 border-gray-300 font-display outline-none focus:outline-none focus:border-primaryColor text-lg bg-transparent"
            placeholder="Contraseña" />
        </div>
        <button type="submit"
          class="py-3 px-24 bg-secondaryColor rounded-full text-white text-lg mt-10 transform hover:translate-y-[-3px] hover:shadow-lg hover:bg-opacity-80 transition-all duration-300 focus:ring-2 focus:ring-secondaryColor focus:ring-offset-2">
          Ingresar
        </button>
        <!-- <p class="text-center text-gray-500 text-sm mt-6">Desarrollado por <a href="https://www.equinocciotec.com" target="_blank" class="text-secondaryColor">Equinoccio Technology</a></p> -->
      </form>
    </div>
  </div>
</div>
