<div class="relative z-0 lg:flex-grow">
  <header class="bg-gradient-to-r p-2 from-gray-900 to-gray-800 shadow-lg flex md:justify-between px-2">

    <div class="flex items-center container mx-auto justify-between w-full">
      <div class="flex items-center">
        <button (click)="dataService.showMenu = true" title="Abrir barra de navegacion"
          class="p-2 hover:bg-gray-600 text-gray-200 hover:opacity-90 transition-all outline-none active:scale-90 focus:outline-none items-center rounded-md">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        <div class="flex items-center justify-between w-full">
          <button routerLink="/dashboard/home" class="flex group items-center text-white p-2">
            <img routerLink="/dashboard/home" src="assets/img/LogoBlanco.png" class="w-24 group-hover:scale-110 transition-all cursor-pointer" alt="Logo.svg">
            <!-- <div class="ml-2 group-hover:text-gray-200 font-semibold text-lg"> Municipalidad de San Luis </div> -->
          </button>
        </div>
      </div>
      <div class="hidden md:flex items-center">
        <button routerLink="/dashboard/atender" title="Atencion"
          class="p-2 bg-white rounded-lg hover:-translate-y-1 transition-all hover:bg-blue-400">
          <img src="assets/svg/atender.svg" class="w-7">
        </button>
        <button *ngIf="authService.usuario.role == 'ADMIN_ROLE'" routerLink="/dashboard/boxes" title="Boxes" class="p-2 ml-4 bg-white rounded-lg hover:-translate-y-1 transition-all hover:bg-blue-400">
          <img src="assets/svg/boxes.svg" class="w-7">
        </button>
        <button *ngIf="authService.usuario.role == 'ADMIN_ROLE'" routerLink="/dashboard/tramites" title="Tramites"
          class="p-2 ml-4 bg-white rounded-lg hover:-translate-y-1 transition-all hover:bg-blue-400">
          <img src="assets/svg/tramites.svg" class="w-7">
        </button>
        <button *ngIf="authService.isAdmin" routerLink="/dashboard/estadisticas" title="Estadisticas" class="p-2 ml-4 bg-white rounded-lg hover:-translate-y-1 transition-all hover:bg-blue-400">
          <img src="assets/svg/estadisticas.svg" class="w-7">
        </button>
        <button (click)="logout()" title="Cerrar sesion" class="p-2 ml-4 bg-white rounded-lg hover:-translate-y-1 transition-all hover:bg-red-400">
          <img src="assets/svg/cerrarSesion.svg" class="w-7">
        </button>
      </div>
    </div>

  </header>

  <div *ngIf="!showSubMenu" (click)="showSubMenu = !showSubMenu"
    class="p-1 bg-gray-700 cursor-pointer md:hidden text-white flex items-center justify-center shadow-b-xl">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </div>

  <div *ngIf="showSubMenu" (click)="showSubMenu = !showSubMenu"
    class="p-1 bg-gray-700 cursor-pointer md:hidden text-white flex items-center justify-center shadow-b-xl">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
    </svg>
  </div>

  <div *ngIf="showSubMenu" class="w-full flex md:hidden items-center justify-center p-2 bg-gray-600">
    <button routerLink="/dashboard/atender" title="Atencion" class="p-2 bg-white rounded hover:bg-blue-400">
      <img src="assets/svg/atender.svg" class="w-7">
    </button>
    <button *ngIf="authService.usuario.role == 'ADMIN_ROLE'" routerLink="/dashboard/boxes" title="Boxes" class="p-2 ml-4 bg-white rounded hover:bg-blue-400">
      <img src="assets/svg/boxes.svg" class="w-7">
    </button>
    <button *ngIf="authService.usuario.role == 'ADMIN_ROLE'" routerLink="/dashboard/tramites" title="Tramites" class="p-2 ml-4 bg-white rounded hover:bg-blue-400">
      <img src="assets/svg/tramites.svg" class="w-7">
    </button>
    <button *ngIf="authService.isAdmin" routerLink="/dashboard/estadisticas" title="Estadisticas" class="p-2 ml-4 bg-white rounded hover:bg-blue-400">
      <img src="assets/svg/estadisticas.svg" class="w-7">
    </button>
    <button (click)="logout()" title="Cerrar sesion" class="p-2 ml-4 bg-white rounded hover:bg-red-400">
      <img src="assets/svg/cerrarSesion.svg" class="w-7">
    </button>
  </div>
</div>
