<!-- Modal para asignar trámite -->
<app-modal [showModal]="showModalAsignarTramite" [titulo]="'Asignando tramites'" [urlIcono]="'assets/svg/tramites.svg'"
    [estadoFormulario]="'crear'" (closeModal)="cerrarModalAsignarTramite()" [showFooter]="false">
    <div class="p-6">
        <div class="flex items-center justify-between mb-2">
            <div class="flex items-center gap-3">
                <h2 class="text-xl font-semibold text-gray-700">Listado de trámites</h2>
            </div>
            <button (click)="asignarTramites()" *ngIf="cantidadTramitesSeleccionados > 0"
                class="bg-emerald-500 text-white px-6 py-3 rounded-lg hover:bg-emerald-600 hover:shadow-md flex items-center gap-2 font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Asignar {{ cantidadTramitesSeleccionados }}
            </button>
        </div>

        <!-- No se encontraron trámites -->
        <div *ngIf="tramitesListadoSinRepetir.length === 0" class="p-5 text-sm bg-gray-50 border border-gray-200 rounded-xl text-gray-500 flex items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
            </svg>
            <span class="font-medium"> No hay ningún trámite para asignar </span>
        </div>

        <!-- Listado de trámites -->
        <div class="max-h-96 overflow-y-auto pr-2">
            <div (click)="seleccionarTramite(tramite)" *ngFor="let tramite of tramitesListadoSinRepetir"
                class="flex items-center cursor-pointer justify-between p-4 border border-gray-200 hover:bg-gray-50 hover:border-gray-200 rounded-xl my-3 transition-all duration-200 shadow-sm">
                <p class="text-gray-700 font-medium">{{ tramite.descripcion }}</p>
                <div class="flex items-center">
                    <input type="checkbox" [checked]="tramite.seleccionado"
                        class="w-5 h-5 text-emerald-500 rounded cursor-pointer border-gray-300 focus:ring-emerald-500">
                </div>
            </div>
        </div>
    </div>
</app-modal>

<!-- Modal para asignar box -->
<app-modal [showModal]="showModalAsignarBox" [titulo]="'Asignando boxes'" [urlIcono]="'assets/svg/boxes.svg'"
    [estadoFormulario]="'crear'" (closeModal)="cerrarModalAsignarBox()" [showFooter]="false">
    <div class="p-6">
        <div class="flex items-center justify-between mb-2">
            <div class="flex items-center gap-3">
                <h2 class="text-xl font-semibold text-gray-700">Listado de boxes</h2>
            </div>
            <button (click)="asignarBoxes()" *ngIf="cantidadBoxesSeleccionados > 0"
                class="bg-emerald-500 text-white px-6 py-3 rounded-lg hover:bg-emerald-600 hover:shadow-md flex items-center gap-2 font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Asignar {{ cantidadBoxesSeleccionados }}
            </button>
        </div>

        <!-- No se encontraron boxes -->
        <div *ngIf="boxesListadoSinRepetir.length === 0" class="p-5 text-sm bg-gray-50 border border-gray-200 rounded-xl text-gray-500 flex items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
            </svg>
            <span class="font-medium"> No hay ningún box para asignar </span>
        </div>

        <!-- Listado de boxes -->
        <div class="max-h-96 overflow-y-auto pr-2">
            <div (click)="seleccionarBox(box)" *ngFor="let box of boxesListadoSinRepetir"
                class="flex items-center justify-between cursor-pointer p-4 border border-gray-200 hover:bg-gray-50 hover:border-gray-200 rounded-xl my-3 transition-all duration-200 shadow-sm">
                <p class="text-gray-700 font-medium">{{ box.descripcion }}</p>
                <div class="flex items-center">
                    <input type="checkbox" [checked]="box.seleccionado"
                        class="w-5 h-5 text-emerald-500 cursor-pointer rounded border-gray-300 focus:ring-emerald-500">
                </div>
            </div>
        </div>
    </div>
</app-modal>

<!-- Pagina principal -->
<div class="container mx-auto px-4 py-8">

    <div class="bg-white p-8 rounded-xl shadow-lg">
        <!-- Header con botón regresar -->
        <div class="flex items-center gap-3 mb-8">
            <button title="Regresar" routerLink="/dashboard/usuarios"
                class="bg-gray-300 hover:bg-gray-200 text-gray-600 rounded-full p-3 transition-all duration-300 hover:shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>
            </button>
            <div>
                <h1 class="text-2xl font-bold text-gray-800"> Asignaciones de usuario </h1>
                <p class="text-gray-500 mt-1.5 font-medium"> Usuario: {{ usuario?.apellido }} {{ usuario?.nombre }} </p>
            </div>
        </div>

        <!-- Sección Boxes -->
        <div class="bg-gray-50 border rounded-xl p-6 mb-6 border-gray-300">
            <div class="flex items-center justify-between mb-6">
                <div class="flex items-center gap-3">
                    <img src="assets/svg/boxes.svg" alt="Boxes" class="w-8 h-8">
                    <h2 class="text-xl font-semibold text-gray-700"> Boxes </h2>
                </div>
                <div class="flex items-center gap-3">
                    <button *ngIf="cantidadBoxesSeleccionadosEliminar > 0" (click)="eliminarBoxes()"
                        class="bg-red-500 text-white px-6 py-3 rounded-lg hover:bg-red-600 transition-all duration-300 hover:shadow-md flex items-center gap-2 font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                        Eliminar {{ cantidadBoxesSeleccionadosEliminar }}
                    </button>
                    <button (click)="abrirModalAsignarBox()"
                        class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition-all duration-300 hover:shadow-md flex items-center gap-2 font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Asignar box
                    </button>
                </div>
            </div>

            <!-- Cargando boxes -->
            <div *ngIf="cargandoBoxesAsignados" class="flex items-center gap-3 p-5 bg-white rounded-xl shadow-sm">
                <span class="animate-spin rounded-full h-6 w-6 border-t-2 border-b-2 border-blue-500"></span>
                <span class="text-gray-600 font-medium"> Cargando boxes... </span>
            </div>

            <!-- No hay boxes asignados -->
            <div *ngIf="boxesAsignados.length === 0 && !cargandoBoxesAsignados"
                class="p-5 bg-white border border-gray-200 rounded-xl text-gray-500 flex items-center gap-3 shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
                <span class="font-medium"> No hay ningún box asignado </span>
            </div>

            <!-- Boxes asignados -->
            <div *ngIf="boxesAsignados.length > 0 && !cargandoBoxesAsignados" class="flex flex-wrap gap-3">
                <div *ngFor="let elemento of boxesAsignados" (click)="seleccionarBoxEliminar(elemento)"
                    [ngClass]="{'bg-red-100': elemento.seleccionado, 'bg-white': !elemento.seleccionado}"
                    class="px-5 py-3 rounded-lg cursor-pointer shadow-sm border border-gray-300 flex items-center gap-2 hover:shadow-md transition-all duration-300">
                    <span class="text-gray-700 font-medium"> {{ elemento.box.descripcion }} </span>
                    <input type="checkbox" [checked]="elemento.seleccionado" class="ml-2" />
                </div>
            </div>
        </div>

        <!-- Sección Trámites -->
        <div class="bg-gray-50 rounded-xl p-6 border border-gray-300">
            <div class="flex items-center justify-between mb-6">
                <div class="flex items-center gap-3">
                    <img src="assets/svg/tramites.svg" alt="Tramites" class="w-8 h-8">
                    <h2 class="text-xl font-semibold text-gray-700"> Trámites </h2>
                </div>
                <div class="flex items-center gap-3">
                    <button *ngIf="cantidadTramitesSeleccionadosEliminar > 0" (click)="eliminarTramites()"
                        class="bg-red-500 text-white px-6 py-3 rounded-lg hover:bg-red-600 transition-all duration-300 hover:shadow-md flex items-center gap-2 font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                        Eliminar {{ cantidadTramitesSeleccionadosEliminar }}
                    </button>
                    <button (click)="abrirModalAsignarTramite()"
                        class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition-all duration-300 hover:shadow-md flex items-center gap-2 font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Asignar trámite
                    </button>
                </div>
            </div>

            <!-- Cargando trámites -->
            <div *ngIf="cargandoTramitesAsignados" class="flex items-center gap-3 p-5 bg-white rounded-xl shadow-sm">
                <span class="animate-spin rounded-full h-6 w-6 border-t-2 border-b-2 border-blue-500"></span>
                <span class="text-gray-600 font-medium"> Cargando trámites... </span>
            </div>

            <!-- No hay trámites asignados -->
            <div *ngIf="tramitesAsignados.length === 0 && !cargandoTramitesAsignados"
                class="p-5 bg-white border border-gray-200 rounded-xl text-gray-500 flex items-center gap-3 shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
                <span class="font-medium"> No hay ningún trámite asignado </span>
            </div>

            <!-- Trámites asignados -->
            <div *ngIf="tramitesAsignados.length > 0 && !cargandoTramitesAsignados" class="flex flex-wrap gap-3">
                <div *ngFor="let elemento of tramitesAsignados" (click)="seleccionarTramiteEliminar(elemento)"
                    [ngClass]="{'bg-red-100': elemento.seleccionado, 'bg-white': !elemento.seleccionado}"
                    class="px-5 py-3 rounded-lg cursor-pointer shadow-sm border border-gray-300 flex items-center gap-2 hover:shadow-md transition-all duration-300">
                    <span class="text-gray-700 font-medium"> {{ elemento.tramite.descripcion }} </span>
                    <input type="checkbox" [checked]="elemento.seleccionado" class="ml-2" />
                </div>
            </div>
        </div>

    </div>

</div>